body {
    background-color: #F0EFF0;

}
.container {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
}
.left-content {
    width: 70%;
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}
.right {
    width: 30%;
}
.imar {
    width: 100%;
    height: 100%;
}
/* phần head */
head {
    flex: 0;
}
header {
    display: flex;
    flex-direction: row;
}
header .web_icon {
    filter: grayscale(60%);
    width: 7%;
    object-fit:scale-down;
}
header .headnav {
    display: flex;
}
header .headnav a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.795);
    word-spacing: 2px;
    font-family:'Times New Roman', Times, serif ;
    margin: 10px 50px;
    font-size: 30px;
}
header .head_icon {
    display: flex;
    flex-wrap: wrap;
}
header .head_icon img {
    filter: grayscale(70%);
    width: 15%;
    object-fit: scale-down;
    margin: 0 5px;
}
/* hết phần head */

/* section 1 */
.section1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    flex-grow: 1;
}
.section1 h1 {
    font-size: 70px;
    color: rgba(66, 64, 64, 0.911);
}
.section1 .squiggle {
    width: 7%;
    object-fit: scale-down;
    filter: grayscale(1000%);
    margin-bottom: 40px;
}
.section1 .line1 {
    color: gray;
    font-size: 30px;
    margin-bottom: 20px;
}
.section1 .button1 {
    width: fit-content;
    border-style: none ;
    border-radius: 20%;
    padding: 10px;
    background-color: #7DDBB2;
    color: aliceblue;
    box-shadow: inset;
    font-size: 20px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 800;
    margin-top: 20px;
}
/* hết section1 */

/* section2 */
.section2 {
    display: flex;
    flex-direction: row;
    flex: 0;
}
.section2 .content-1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 4px solid #E8E8E8;
    /* justify-content: center; */
    margin-bottom: 10px;
}
.section2 .content-1:hover {
    border-top-color: #FF7100;
}
.section2 .content-1 h1 {
    color: grey;
    flex-grow: 1;
}
.section2 .content-1 .squiggle {
    width: 10%;
    object-fit: scale-down;
    margin-bottom: 20px;
    flex: 0;
}
.section2 .content-1 .line2 {
    flex: 0;
}
/* hết section 2 */
