


/* css dec1 */
.dec1{
    content: "";
    width: 20%;            height: 1px;          
    position: relative;            left: 0;            top: 50%;
    transform: translateY(50%);
    border-style:ridge;

}
